In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('train.csv')
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,defects
0,0,22.0,3.0,1.0,2.0,60.0,278.63,0.06,19.56,14.25,...,17,1,1,0,16.0,9.0,38.0,22.0,5.0,False
1,1,14.0,2.0,1.0,2.0,32.0,151.27,0.14,7.00,21.11,...,11,0,1,0,11.0,11.0,18.0,14.0,3.0,False
2,2,11.0,2.0,1.0,2.0,45.0,197.65,0.11,8.05,22.76,...,8,0,1,0,12.0,11.0,28.0,17.0,3.0,False
3,3,8.0,1.0,1.0,1.0,23.0,94.01,0.19,5.25,17.86,...,4,0,2,0,8.0,6.0,16.0,7.0,1.0,True
4,4,11.0,2.0,1.0,2.0,17.0,60.94,0.18,5.63,12.44,...,7,0,2,0,7.0,6.0,10.0,10.0,3.0,False

In [3]:
data.describe()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
count,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,...,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000
mean,50881.000000,37.347160,5.492684,2.845022,3.498826,96.655995,538.280956,0.111634,13.681881,27.573007,...,1141.357982,22.802453,1.773945,3.979865,0.196604,11.896131,15.596671,57.628116,39.249698,9.839549
std,29376.592059,54.600401,7.900855,4.631262,5.534541,171.147191,1270.791601,0.100096,14.121306,22.856742,...,9862.795472,38.541010,5.902412,6.382358,0.998906,6.749549,18.064261,104.537660,71.692309,14.412769
min,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,25440.500000,13.000000,2.000000,1.000000,1.000000,25.000000,97.670000,0.050000,5.600000,15.560000,...,31.380000,7.000000,0.000000,1.000000,0.000000,8.000000,7.000000,15.000000,10.000000,3.000000
50%,50881.000000,22.000000,3.000000,1.000000,2.000000,51.000000,232.790000,0.090000,9.820000,23.360000,...,125.400000,14.000000,0.000000,2.000000,0.000000,11.000000,12.000000,30.000000,20.000000,5.000000
75%,76321.500000,42.000000,6.000000,3.000000,4.000000,111.000000,560.250000,0.150000,18.000000,34.340000,...,565.920000,26.000000,1.000000,5.000000,0.000000,16.000000,20.000000,66.000000,45.000000,11.000000
max,101762.000000,3442.000000,404.000000,165.000000,402.000000,8441.000000,80843.080000,1.000000,418.200000,569.780000,...,935923.390000,2824.000000,344.000000,219.000000,43.000000,410.000000,1026.000000,5420.000000,3021.000000,503.000000

In [4]:
#converting the defects column into a bolean column
data['defects'] = data['defects'].astype(int)
data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,defects
0,0,22.0,3.0,1.0,2.0,60.0,278.63,0.06,19.56,14.25,...,17,1,1,0,16.0,9.0,38.0,22.0,5.0,0
1,1,14.0,2.0,1.0,2.0,32.0,151.27,0.14,7.00,21.11,...,11,0,1,0,11.0,11.0,18.0,14.0,3.0,0
2,2,11.0,2.0,1.0,2.0,45.0,197.65,0.11,8.05,22.76,...,8,0,1,0,12.0,11.0,28.0,17.0,3.0,0
3,3,8.0,1.0,1.0,1.0,23.0,94.01,0.19,5.25,17.86,...,4,0,2,0,8.0,6.0,16.0,7.0,1.0,1
4,4,11.0,2.0,1.0,2.0,17.0,60.94,0.18,5.63,12.44,...,7,0,2,0,7.0,6.0,10.0,10.0,3.0,0

In [5]:
#making X_train and y_train matrices for neural network
y_train = data.defects
y_train = np.array(y_train)
y_train = y_train.reshape(-1,1)

#removing defects column from dataset
column_to_remove = 'defects'
X_train = data.drop(columns=column_to_remove)

#Standerdizing the data between 0 and 1
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit and transform the data
scaled_data = scaler.fit_transform(X_train)
df_standardized = pd.DataFrame(scaled_data, columns=X_train.columns)
df_standardized.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
0,-1.732034,-0.281083,-0.315497,-0.398386,-0.270814,-0.214179,-0.204323,-0.515843,0.416261,-0.582895,...,-0.085032,-0.150553,-0.131124,-0.466893,-0.19682,0.608024,-0.365180,-0.187762,-0.240609,-0.335784
1,-1.732000,-0.427603,-0.442066,-0.398386,-0.270814,-0.377782,-0.304545,0.283395,-0.473180,-0.282763,...,-0.110448,-0.306233,-0.300547,-0.466893,-0.19682,-0.132770,-0.254463,-0.379082,-0.352197,-0.474550
2,-1.731966,-0.482548,-0.442066,-0.398386,-0.270814,-0.301824,-0.268048,-0.016319,-0.398824,-0.210574,...,-0.105844,-0.384072,-0.300547,-0.466893,-0.19682,0.015389,-0.254463,-0.283422,-0.310351,-0.474550
3,-1.731932,-0.537492,-0.568635,-0.398386,-0.451499,-0.430368,-0.349603,0.782918,-0.597106,-0.424954,...,-0.113057,-0.487858,-0.300547,-0.310211,-0.19682,-0.577246,-0.531254,-0.398214,-0.449837,-0.613317
4,-1.731898,-0.482548,-0.442066,-0.398386,-0.270814,-0.465426,-0.375627,0.683014,-0.570197,-0.662084,...,-0.113665,-0.410019,-0.300547,-0.310211,-0.19682,-0.725405,-0.531254,-0.455609,-0.407991,-0.474550

In [6]:
X_train = df_standardized.values

In [28]:
#training a neural network
model = tf.keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=(22, )),
    layers.Dense(256, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(X_train, y_train, epochs=50, batch_size=32)

Epoch 1/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1380
Epoch 2/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1366
Epoch 3/50
3181/3181 [==============================] - 5s 2ms/step - loss: 0.1363
Epoch 4/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1361
Epoch 5/50
3181/3181 [==============================] - 5s 2ms/step - loss: 0.1358
Epoch 6/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1358
Epoch 7/50
3181/3181 [==============================] - 5s 2ms/step - loss: 0.1355
Epoch 8/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1355
Epoch 9/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1354
Epoch 10/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1354
Epoch 11/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1352
Epoch 12/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1352
Epoch 13/50
3181/3181 [==============================] - 5s 2ms/step - loss: 0.1351
Epoch 14/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1349
Epoch 15/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1348
Epoch 16/50
3181/3181 [==============================] - 5s 2ms/step - loss: 0.1347
Epoch 17/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1346
Epoch 18/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1345
Epoch 19/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1343
Epoch 20/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1342
Epoch 21/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1340
Epoch 22/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1339
Epoch 23/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1336
Epoch 24/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1335
Epoch 25/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1333
Epoch 26/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1333
Epoch 27/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1329
Epoch 28/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1328
Epoch 29/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1326
Epoch 30/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1324
Epoch 31/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1321
Epoch 32/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1317
Epoch 33/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1314
Epoch 34/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1312
Epoch 35/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1310
Epoch 36/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1306
Epoch 37/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1302
Epoch 38/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1299
Epoch 39/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1294
Epoch 40/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1290
Epoch 41/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1286
Epoch 42/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1285
Epoch 43/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1279
Epoch 44/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1274
Epoch 45/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1271
Epoch 46/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1266
Epoch 47/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1262
Epoch 48/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1258
Epoch 49/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1252
Epoch 50/50
3181/3181 [==============================] - 6s 2ms/step - loss: 0.1250

In [29]:
#importing test data set
test_data = pd.read_csv('test.csv')
ID = test_data.id
test_data.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
0,101763,33.0,5.0,1.0,4.0,144.0,824.82,0.04,26.96,30.05,...,1257.60,30,0,3,0,21.0,23.0,87.0,57.0,9.0
1,101764,27.0,8.0,8.0,2.0,125.0,646.24,0.04,22.82,27.22,...,804.58,23,0,2,0,18.0,19.0,70.0,49.0,15.0
2,101765,130.0,11.0,7.0,10.0,545.0,3831.40,0.02,48.15,66.17,...,6453.34,99,9,17,1,26.0,53.0,333.0,244.0,21.0
3,101766,65.0,7.0,1.0,7.0,156.0,855.71,0.06,17.23,49.89,...,896.42,45,8,10,0,15.0,26.0,88.0,60.0,13.0
4,101767,22.0,3.0,1.0,3.0,52.0,238.42,0.10,9.60,26.70,...,145.80,16,0,4,0,12.0,15.0,30.0,24.0,5.0

In [30]:
#standardizing the dataset
X_test = scaler.fit_transform(test_data)
df_standardized = pd.DataFrame(X_test, columns=test_data.columns)
df_standardized.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
0,-1.732025,-0.087034,-0.067918,-0.398107,0.086960,0.255568,0.209645,-0.709261,0.910971,0.103099,...,0.003624,0.173408,-0.294187,-0.143041,-0.192264,1.303407,0.407227,0.271823,0.235785,-0.064259
1,-1.731974,-0.194574,0.296278,1.102000,-0.287639,0.149495,0.074194,-0.709261,0.625204,-0.017736,...,-0.038561,-0.003331,-0.294187,-0.283175,-0.192264,0.873250,0.184748,0.110671,0.125828,0.326802
2,-1.731923,1.651519,0.660474,0.887699,1.210757,2.494263,2.490109,-0.907596,2.373630,1.645348,...,0.487444,1.915553,1.150666,1.818838,0.765064,2.020335,2.075818,2.603783,2.806028,0.717863
3,-1.731872,0.486509,0.174879,-0.398107,0.648858,0.322561,0.233075,-0.510925,0.239349,0.950226,...,-0.030009,0.552135,0.990127,0.837899,-0.192264,0.443094,0.574086,0.281302,0.277019,0.196448
4,-1.731821,-0.284190,-0.310715,-0.398107,-0.100339,-0.258048,-0.235134,-0.114254,-0.287318,-0.039939,...,-0.099905,-0.180070,-0.294187,-0.002906,-0.192264,0.012937,-0.037731,-0.268509,-0.217787,-0.324967

In [31]:
X_test = df_standardized.values

In [32]:
#predicting the values of X_test
predictions = model.predict(X_test)
predictions

2121/2121 [==============================] - 2s 855us/step

array([[0.3761325 ],
       [0.12920192],
       [0.66055036],
       ...,
       [0.15675247],
       [0.07284166],
       [0.88555115]], dtype=float32)

In [33]:
#converting predicted values into true and false 
threshold = 0.30
flattened_predictions = [item for sublist in predictions for item in sublist]
binary_predictions = [1 if value > threshold else 0 for value in flattened_predictions]
# Create the DataFrame
prediction_data = {'id': ID, 'defects': binary_predictions}
df = pd.DataFrame(prediction_data)
df.head()

       id  defects
0  101763        1
1  101764        0
2  101765        1
3  101766        1
4  101767        0

In [34]:
#saving the predictions in a csv file
file_path = 'My_predictions.csv'
df.to_csv(file_path, index=False)
print(f'Dataframe saved as csv to: {file_path}')

Dataframe saved as csv to: My_predictions.csv